.corpo2{
    height: 83%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.perfis__usuário{
    overflow-y: auto;
    overflow-x: hidden;
}
.mensagens{
    margin: 0px 7.5%;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    height: 100%;
    width: 85%;
    /* background-color: aqua; */
}
.mensagens__seguindo_pc{
    margin-left: 9%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.mensagens__seguindo{
    font-size: 0px;
}
/* Perfis de seguidores */
.perfil{
    margin-top: 5%;
    height: 20%;
    width: 80%;
    margin-left: 7%;
    color: black;
    display: block;
    border: 2px solid;
    border-radius: 2em;
}
.perfil:hover{
    color: black;
}
.perfil1{
    height: 100%;
    width: 100%;
    display: grid;
    border-radius: 2em;
    place-items: center;
    grid-template-columns: 38% 62%;
}
.perfil__foto{
    height: 90px;
    width: 90px;
    border-radius: 5em;
}
.perfil__user__name{
    color: black;
}

/* Formulario para enviar as mensagens */
.enviar__mensagens{
    height: 68%;
    margin-top: 4%;
}
.enviar__mensagens__campor__escrita{
    height: 70%;
    width: 100%;
    font-size: 220%;
    border: 1.5px solid;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 0px solid;
    padding-left: 3%;
    padding-top: 3%;
    resize: none;
}
.enviar__mensagens__botao{
    margin-top: -3%;
    height: 15%;
    width: 100%;
    border: 0px solid;
    color: white;
    background-color: var(--cor-azul);
    font-size: 130%;
}
.enviar__mensagens__botao:hover{
    background-color: var(--cor-azul-escuro);
}
.container__box{
    height: 20%;
    border: 2px solid;
    border-top: 0px solid;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__box__foto{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;
}
.container__box__foto__name{
    height: 46px;
    width: 46px;
}
.container__box__foto__file{
    height: 70%;
    opacity: 0;
    margin-left: -15%;
    margin-top: -3%;
    width: 15%;
}

/* Mensagem */

.container__mensagem{
    margin-top: 7%;
    height: auto;
    border-radius: 2em;
}
.container__mensagem__apagadar{
    height: 0%;
    width: 0%;
    font-size: 0px;
    border: 0px solid;
}
.container__mensagem__cabecalho{
    height: 9vh;
    border: 2px solid;
    border-bottom: 0px solid;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    display: grid;
    grid-template-columns: 18% 50.7% 15.65% 15.65%;
}
.container__mensagem__cabecalho__foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container__mensagem__cabecalho__foto__perfil{
    height: 40px;
    width: 40px;
    border-radius: 2em;
}
.container__mensagem__user__name{
    display: flex;
    align-items: center;
}
.container__mensagem__data{
    display: flex;
    align-items: center;
}
.container__mensagem__botao__excluir{
    margin-left: 25%;
    margin-top: 15%;
    height: 50%;
    width: 50%;
    background-color: white;
    border: 1px solid;
}
.container__mensagem__botao__excluir:hover{
    color: white;
    background-color: red;
}
.container__mensagem__botao__excluir__invisivel{
    font-size: 0px;
    width: 0px;
    border: 0px solid;
}
.container__mensagem__corpo__msg{
    border-left: 2px solid;
    border-right: 2px solid;
}
.container__mensagem__corpo{
    margin: 0px 5%;
    width: 90%;
}
.container__foto__mensagem{
    justify-items: center;
    border-left: 2px solid;
    border-right: 2px solid;
    overflow-x: hidden;
    overflow-y: auto;
    height: 60vh;
}
.foto__mensagem{
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
}
.videos__mensagem{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
.foto__mensagem__zoom{
    height: auto;
    max-height: 100vh;
    width: auto;
    max-width: 100vw;
}

/* Avaliações like deslike compartilhamento etc */

.container__mensagem__avaliacao{
    height: 6vh;
    border: 2px solid;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.container__mensagem__avaliacao__like__deslike{
    background-color: rgba(255, 255, 255, 0);
    width: 50%;
    font-size: 120%;
    margin-left: -15%;
    border: 0px solid;
    border-bottom-left-radius: 2em;
}
.container__mensagem__avaliacao__compartilhar{
    height: 30px;
    width: 30px;
}
.botao__avaliacao__div{
    width: 100%;
    border-right: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao__avaliacao{
    width: 18%;
}
.found{
    height: 18vh;
    width: 95%;
    color: black;
    margin-top: 5%;
    margin-left: 3.5%;
    border: 2px solid;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.found:hover{
    color: black;
}
.found__nomes{
    font-size: 200%;
}
.found__imagem{
    border-radius: 10em;
    width: 50%;
}
.container__comentario__botao{
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    background-color: white;
    font-size: 120%;
}

@keyframes abrir__janela__compartilhar__mensagem {
    0% {
        margin-top: 100vh;
    }
    100% {
        margin-top: 60vh;
    }
}
.abrir__janela__compartilhar__mensagem{
    animation: abrir__janela__compartilhar__mensagem 3s;
}
@keyframes fechar__janela__compartilhar__mensagem {
    0% {
        margin-top: 60vh;
    }
    100% {
        margin-top: 100vh;
    }
}
.fechar__janela__compartilhar__mensagem{
    animation: fechar__janela__compartilhar__mensagem 3s;
}
.container__compartilhar__mensagem{
    height: 40vh;
    width: 100vw;
    position: fixed;
    border-top: 2px solid;
    background-color: white;
}
.container__compartilhar__mensagem__topo{
    height: 20%;
    width: 100%;
    align-content: center;
    align-items: center;
}
.container__compartilhar__mensagem__corpo{
    height: 80%;
    width: 100%;
}
.container__compartilhar__mensagem__botao{
    height: 90%;
    width: 8%;
    margin-left: 90%;
    background-color: white;
    font-size: 160%;
    border: 1px solid;
}
.container__compartilhar__mensagem__botao:hover{
    color: white;
    border: 0px solid;
    background-color: red;
}
.compartilhar__botao__com__icone__das__redes__sociais__icone{
    width: 70%;
}
.compartilhar__botao__com__icone__das__redes__sociais{
    margin-top: 8dvh;
    width: 10%;
    background-color: white;
    border-color: white;
    font-weight: normal;
}
.compartilhar__botao__com__icone__das__redes__sociais:hover{
    border: 0px solid transparent;
    transform: none;
}

/* Visualização de comentarios */

.comentarios__view{
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}
.comentario__box{
    height: auto;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}
.comentario__box__infor__usuario{
    height: 7dvh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-content: center;
    background-color: gray;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
.comentario__box__foto{
    height: 5dvh;
    margin-top: 2%;
    margin-left: 15%;
    border-radius: 2em;
}
.comentario__box__nome__usuario{
    margin-top: 1%;
    margin-left: 7%;
    color: white;
}
.comentario__box__botao__excluir__comentario{
    height: 75%;
    width: 50%;
    background-color: gray;
    border: 1px solid;
    font-size: 120%;
    margin-top: 0.5dvh;
    margin-left: 25%;
}
.comentario__box__botao__excluir__comentario:hover{
    color: white;
    background-color: red;
    border: 0px solid;
}
.comentario__box__campo__texto__correcao__top{
    width: 100%;
    background-color: gray;
    margin-top: -1%;
}
.comentario__box__campo__texto{
    height: auto;
    width: 90%;
    margin-left: 5%;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    padding-top: 1.5%;
}
.comentario__box__campo__texto__paragrafo{
    margin-bottom: 2dvh;
}
.comentario__box__submit{
    height: 7dvh;
    background-color: gray;
    display: flex;
    border-top: 2px solid;
    align-content: center;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}
.comentario__box__submit__input__texto__ativo{
    height: 90%;
    width: 60%;
    color: white;
    background-color: gray;
    margin-top: 0.5%;
    margin-left: 5%;
    font-size: 120%;
    border: 0px solid;
    border-bottom: 2px solid black;
}
.comentario__box__submit__input__texto__ativo:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.comentario__box__submit__input__texto__desativo{
    width: 0px;
    border: 0px solid;
}
.comentario__box__submit__cancelar__ativo{
    width: 15%;
    margin-left: 0.5%;
    margin-top: 0.5%;
    font-size: 79%;
    border-radius: 0.7em;
    border: 0px solid;
    color: black;
    background-color: white;
}
.comentario__box__submit__cancelar__ativo:hover{
    background-color: rgb(202, 201, 201);
}

.comentario__box__submit__enviar__ativo{
    width: 15%;
    margin-left: 0.5%;
    margin-top: 0.5%;
    font-size: 79%;
    border-radius: 0.7em;
    border: 0px solid;
    color: white;
    background-color: blue;
}
.comentario__box__submit__enviar__ativo:hover{
    background-color: rgb(0, 0, 182);
}
.comentario__box__submit__enviar__desativo{
    font-size: 0px;
    width: 0px;
    border: 0px solid;
}
.comentario__box__submit__responde__ativo{
    height: 80%;
    width: 20%;
    margin-left: 50%;
    font-size: 110%;
    background-color: gray;
    color: white;
    border: 0px solid;
}
.comentario__box__submit__ver__respostas__ativo{
    width: 30%;
    margin-left: 0px;
    border-radius: 2em;
}
.comentario__box__submit__ver__respostas__desativo{
    width: 0px;
    font-size: 0px;
    border: 0px solid;
}
.enviar__comentario{
    height: 10%;
    width: 100%;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 80% 20%;
}
.box__comentarios__ativo{
    height: 70dvh;
    border: 2px solid;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top: 0px solid;
    font-size: 120%;
}
.box__comentarios__desativo{
    height: 0dvh;
    border: 0px solid;
    font-size: 0px;
}
.enviar__comentario__input__ativo{
    height: 90%;
    width: 90%;
    padding-left: 1%;
    font-size: 110%;
    border: 0px solid;
    border-bottom: 2px solid;
}
.enviar__comentario__input__ativo:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 2px solid;
}
.enviar__comentario__input__desativo{
    height: 0%;
    width: 0%;
    font-size: 0%;
    margin: 0px 0px;
    border: 0px solid;
}

.enviar__comentario__botao__ativo{
    height: 90%;
    width: 90%;
    margin-right: 15%;
    font-size: 110%;
    border: 0px solid;
    color: white;
    background-color: blue;
}
.enviar__comentario__botao__ativo:hover{
    color: rgb(218, 218, 218);
    background-color: rgb(0, 0, 189);
}
.enviar__comentario__botao__desativo{
    height: 0px;
    width: 0px;
    font-size: 0px;
    border: 0px solid;
}
.respostas__a__comentarios__fundo{
    height: 15em;
    overflow-y: auto;
    background-color: white;
}
.respostas__a__comentarios{
    width: 70%;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 1.5em;
    background-color: gray;
}

@media only screen and (max-width: 900px) {
    .corpo2{
        height: 83%;
        display: grid;
        grid-template-columns: 0% 100% 0%;
    }

    .perfis__usuário{
        overflow: hidden;
    }
    .mensagens{
        margin: 0px 7.5%;
        overflow-x: hidden;
        overflow-y: auto;
        width: 85%;
        /* background-color: aqua; */
    }
    .mensagens__seguindo_pc{
        font-size: 0px;
    }
    .mensagens__seguindo{
        margin-left: 9%;
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 100%;
    }
    /* Perfis de seguidores */
    .perfil{
        height: 0%;
        width: 0%;
        margin-left: 0%;
        border: 0px solid;
    }
    .perfil__foto{
        height: 0px;
        width: 0px;
        border-radius: 0em;
    }
    .perfil__user__name{
        font-size: 0px;
    }

    /* Formulario para enviar as mensagens */
    .enviar__mensagens{
        height: 50%;
    }
    .enviar__mensagens__campor__escrita{
        height: 70%;
        width: 100%;
        border: 1.5px solid;
        border-bottom: 0px solid;
        padding-left: 3%;
        padding-top: 3%;
    }
    .enviar__mensagens__botao{
        margin-top: -3%;
        height: 15%;
        width: 100%;
        border: 0px solid;
        color: white;
        background-color: var(--cor-azul);
        font-size: 130%;
    }
    .enviar__comentario__input__ativo{
        font-size: 70%;
    }
    .enviar__comentario__botao__ativo{
        font-size: 80%;
    }
    .container__box{
        height: 20%;
        border: 2px solid;
        border-top: 0px solid;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .container__box__foto{
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid;
        font-size: 80%;
    }
    .container__box__foto__name{
        height: 46px;
        width: 46px;
    }
    .container__box__foto__file{
        height: 90%;
        /* margin-top: 0%; */
        margin-left: -30%;
        opacity: 0;
        width: 30%;
    }
    
    /* Mensagem */

    .container__mensagem{
        margin-top: 10%;
        height: auto;
    }
    .container__mensagem__cabecalho{
        height: 9vh;
        border: 2px solid;
        border-bottom: 0px solid;
        display: grid;
        grid-template-columns: 18% 40.7% 25.65% 15.65%;
    }
    .container__mensagem__cabecalho__foto{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .container__mensagem__cabecalho__foto__perfil{
        height: 40px;
        width: 40px;
        border-radius: 2em;
    }
    .container__mensagem__user__name{
        display: flex;
        align-items: center;
    }
    .container__mensagem__data{
        text-align: right;
    }
    .container__mensagem__corpo__msg{
        border-left: 2px solid;
        border-right: 2px solid;
    }
    .container__mensagem__corpo{
        margin: 0px 5%;
        width: 90%;
    }
    
    /* Avaliações like deslike compartilhamento etc */
    
    .container__mensagem__avaliacao{
        height: 6vh;
        border: 2px solid;
    }
    .container__mensagem__avaliacao__like__deslike{
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        font-size: 120%;
        border: 0px solid;
        border-right: 2px solid;
    }
    .container__mensagem__avaliacao__compartilhar{
        height: 30px;
        width: 30px;
    }
    .botao__avaliacao{
        width: 25%;
        margin-left: 15%;
    }
    .found{
        height: 20%;
        width: 95%;
        grid-template-columns: 40% 60%;
    }
    .found__nomes{
        font-size: 100%;
    }
    .found__imagem{
        width: 70%;
    }

    /* Compartilhar mensagem */
    .container__compartilhar__mensagem{
        overflow-y: auto;
        overflow-x: hidden;
    }
    .container__compartilhar__mensagem__botao{
        width: 15%;
        margin-left: 80%;
    }
    .compartilhar__botao__com__icone__das__redes__sociais{
        margin-top: 8dvh;
        width: 32%;
    }
    .compartilhar__botao__com__icone__das__redes__sociais__email{
        margin-top: 1.5dvh;
        margin-bottom: 10dvh;
    }
}